# template c++ .gitignore from https://github.com/github/gitignore/blob/main/C%2B%2B.gitignore

# prerequisites
*.d

# compiled object files
*.slo
*.lo
*.o
*.obj

# precompiled headers
*.gch
*.pch

# compiled dynamic libraries
*.so
*.dylib
*.dll

# compiled static libraries
*.lai
*.la
*.a
*.lib

# executables
*.exe
*.out
*.app
